*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    direction: ltr;
    height: 6000px;
    font-family: 'Montserrat', sans-serif;
}
/******************Nav props************************/
nav{
    width: 100%;
    height: 62px;
    position: fixed;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
nav .logo{
    margin: 15px 0px -10px 130px;
    width: 85px;
    height: 32px;
    background: transparent url('img/Layer_x0020_1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
nav .refs{
    display: inline;
    padding: 20px 0px;
    margin-left: 57px;
}
nav ul{
    display: inline; 
    text-align: left;
    font-size: 24px;
    margin-left: 10px;
}

nav ul li {
        list-style-type: none;
        display: inline;
        margin-right: 38px;
    }
    nav ul a {
        text-decoration:none;
        font-size: 20px;
        color:#2c2c2c;
    }
    nav ul a:hover{
        color:#08A63D;
    }

    nav .after-button li {
        margin-right:24px
    }

nav .post-job{
    margin: 0px 50px 20px 65px;
    width: 126px ;
    height: 36px;
    font-weight: 400;
}
#bord{
    margin-right: 20px;
    border: 0.5px solid #CCCCCC;
    font-size: 16px;
}
/***********************First section************************************/
.container{
    padding-top: 230px;
    background: transparent linear-gradient(270deg, #FFFFFF75 0%, #089B3C45 100%) 0% 0% no-repeat padding-box; 
    height: 633px;
    display: flex;
    margin-right: 0px;
    
}
.container h1 {
    text-align: left;
    font: Bold 57px/69px Montserrat;
    width: 532px;
    margin-left: 140px;
    width: 532px;
    height: 138px;
}
.container p {
    text-align: left;
    font-size: 24px;
    letter-spacing: -0.36px;
    margin-top: 34px;
    margin-left: 140px;
    width: 852px;
    height: 64px;
}
.container .hor-line {
    width:79px;
    height:2px; 
    text-align:left;
    background: #0B873E;
    opacity: 1;
    margin: 23px 0px 25px 140px;
    border-radius: 2px;
    border: none;
}
.container .ser-bar{
    top: 515px;
    margin-left: 140px;
    width: 287px;
    height: 36px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 18px;
    border: none;
    font: 400 13px/16px Montserrat;
    font-weight: lighter;

}
.container .ser-bar ::placeholder{
    text-align: left;
    color: #ACACAC;
}
.container .ser-but{
    margin-left: 15px;
    width: 126px;
    height: 36px;
}
.container .bg-img{
    position: absolute;
    left: 709px;
    top: 93px;
    width: 665px;
    height: 540px;
    z-index: -1;
}










/*************************Generals***********************************/
.but{
    border-radius: 18px;
    border: none;
    background: transparent linear-gradient(90deg, #115240 0%, #267B4B 100%) 0% 0% no-repeat padding-box;
    font-size:18px;
    color: #FFFFFF;
}
.but:hover{
    cursor: pointer;
}
